cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
google-auth==2.18.1
gpg==1.20.0
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
jaraco.classes==3.2.3
keyring==23.13.1
keyrings.google-artifactregistry-auth==1.1.2
more-itertools==9.1.0
nodeenv==1.8.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pluggy==1.0.0
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyright==1.1.310
pytest==7.3.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
rsa==4.9
ruff==0.0.270
six==1.16.0
tzdata==2023.3
urllib3==1.26.16
zipp==3.15.0
